li {
    list-style: none;
}

fieldset {
    width: 90%;
    border: 0;
}

textarea {
    width: 90%;
    border-radius: 5px;
    color:#9d9d9d
}

.info {
    width: 90%;
    border: 1px solid red;
}
img {
    width:100px;
    height: 100px; 
    color:#9D9D9D;
}

.return {
    float: right;
}

a:hover {
    text-decoration: none;
}

#infor {
    margin: 10px 10px;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}